@tailwind base;
@tailwind components;
@tailwind utilities;

:root,
.light {
  --mini-add-bg-color: #5a6d57;
  --bg-color: #ffffff;
}

.dark {
  --background-color: #181a2a;
  --mini-add-bg-color: #5a6d57;
  --bg-color: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.animate-in {
  animation-delay: calc(var(--index) * 130);
}

input::placeholder {
  text-transform: capitalize;
  letter-spacing: 0.1rem;
}
